#dialoglogo {
  width: 65%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkgray;
}

#setting {
  height: 65%;
}

#line1 {
  display: flex;
}

#line1 > img{
  max-width: 14%;
}

#line2 {
  display: flex;
}

#line2 > img{
  max-width: 14%;
}

#line3 {
  display: flex;
}

#line3 > img{
  max-width: 14%;
}

#line4 {
  display: flex;
}

#line4 > img{
  max-width: 14%;
}

#line5 {
  display: flex;
}

#line5 > img{
  max-width: 14%;
}

#line6 {
  display: flex;
}

#line6 > img{
  max-width: 14%;
}

#line7 {
  display: flex;
}

#line7 > img{
  max-width: 14%;
}

#opinion {
  border: 2px solid #434343;
}

#tabs {
  display: flex;
}

#tabs > button{
  border-bottom: none;
}

#tabs > button:hover{
  border: 2px solid #434343;
  border-bottom: none;
  background-color: #fdf7ea;
}

.panel {
  width: 100%;
  border: 2px solid #434343;
  overflow: scroll;
}

.icon {
  width: 100%;
}

.iconpanel {
  width: 30%;
  border: 1px solid darkgray;
}
